.footer {
    margin: 0 auto;
    margin-top: 104px;
    width: 1440px;
    height: 260px;
    border-top: 2px solid $secondary-color;
    &__container {
        margin: 0 auto;
        margin-top: 40px;
        width: 940px;
        height: 224px;
        display: flex;
        justify-content: space-between;
        & h2 {
            color: $secondary-color;
            @include font ('Montserrat', 14px, 300);
        }
        & ul {
            color: #444444;
            @include font ('Montserrat', 14px, 700);
            & li {
                color: #999999;
                @include font ('Roboto', 14px, 300);
                line-height: 26px;
            }
        }
        &__menu {
            margin-right: 150px;
            width: 303px;
            display: flex;
            justify-content: space-between;
            &__first {
                & li:first-child {
                    margin-top: 11px
                }
            }
        }
        &__logo {
            @include menu-item (110px, 43px);
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #CCCCCC;
            @include font ('Montserrat', 10px, 700);
            &__img {
                @include menu-item (110px, 24px);
                background-image: url('./images/Bitmap.png');
            }
        }
    }
}